html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 10px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
}

a {
  color: unset;
  text-decoration: none;
}

.container-main {
  display: block;
}

.title {
  background-color: #fff;
}

.title h1 {
  font-size: 3.2rem;
  font-weight: 400;
  color: #000;
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  padding: 27px 24px 27px 24px;
}

.results .result-number {
  color: #6b6b6b;
  font-weight: 700;
}

.visualization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.visualization button {
  background: none;
  padding: 0;
  border: none;
}

.grid-container {
  display: -ms-grid;
  display: grid;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.product .product-media {
  position: relative;
  overflow: hidden;
}

.product .product-media img {
  width: 100%;
}

.product .prod-name {
  font-size: 1.4rem;
  font-weight: 700;
}

.product .description {
  font-size: 1.4rem;
  font-weight: 400;
}

.product .add-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 150px;
  gap: 8px;
  border: none;
}

.product .add-basket .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product .add-basket .price .price-whole {
  font-size: 1.4rem;
  font-weight: 700;
}

.product .add-basket .price .price-fract {
  font-size: 1.2rem;
  font-weight: 700;
}

.product .add-basket .discount {
  font-size: 1rem;
  font-weight: 400;
}

.product .add-basket .basket-icon {
  border: none;
  margin-left: auto;
}

.product .heart {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  top: 4.994652%;
  right: 2.994652%;
}

.product .new {
  position: absolute;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  top: 4.812834%;
  left: 4.812834%;
}

.product .amount {
  position: absolute;
  font-size: 1rem;
  font-weight: 800;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  bottom: 5.347593%;
  left: 2.994652%;
}

@media (max-width: 1023px) {
  .nav-bar {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
  }
  .title {
    height: 86px;
  }
  .title h1 {
    padding: 24px 0 24px 24px;
  }
  .visualization {
    display: none;
  }
  .visualization .product-number {
    display: none;
  }
  .result-number {
    font-size: 1.4rem;
  }
  .grid-container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 1px;
    column-gap: 1px;
    row-gap: 24px;
  }
  main {
    padding-top: 97px;
  }
  .prod-name {
    margin-top: 19px;
    margin-left: 8px;
  }
  .description {
    margin-top: 4px;
    margin-left: 8px;
  }
  .add-basket {
    margin: 36px auto 9px auto;
    max-width: 171px;
    background-color: #fff;
    padding: 12px 8px;
  }
  .add-basket .basket-icon {
    background-color: #fff;
  }
  .new span {
    background-color: #fff;
    padding: 0 5px;
  }
  .amount span {
    background-color: #fff;
    padding: 0 5px;
  }
}

@media (min-width: 1024px) {
  .nav-bar {
    -webkit-box-shadow: 0 30px 30px rgba(0, 0, 0, 0.02);
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.02);
  }
  .title {
    text-align: center;
  }
  .title h1 {
    padding: 56px 0 58px 0;
  }
  .visualization button:hover {
    cursor: pointer;
  }
  .visualization .icon-visualization {
    margin-left: 19px;
  }
  .visualization .icon-visualization.selected {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }
  .visualization .gallery-visualization.selected {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }
  .result-number {
    display: none;
  }
  .product-number {
    font-size: 1.6rem;
    font-weight: 700;
    color: #9d9d9d;
    margin-left: auto;
    margin-right: 19px;
  }
  main {
    padding-top: 132px;
  }
  .grid-container {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 2px;
    column-gap: 2px;
  }
  .container-main .grid-container.gallery-mode {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
  }
  .container-main .grid-container.gallery-mode .product-text {
    display: none;
  }
  .container-main .grid-container.gallery-mode .overlay {
    display: none;
  }
  .prod-name {
    margin: 35px 0 0 16px;
  }
  .description {
    margin: 4px 0 0 16px;
  }
  .add-basket {
    margin: 34px 0 20px 18px;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }
  .add-basket .basket-icon {
    display: none;
  }
  .new span {
    background-color: transparent;
  }
  .amount span {
    background-color: transparent;
  }
  .spacer {
    background-color: transparent;
    height: 64px;
    width: 100%;
  }
}

/*# sourceMappingURL=product_page.css.map */