@import '../typography';


@media (max-width: 1023px) {
    .hide {
        display: none;
    }

    .product {
        .back-arrow {
            position: absolute;
            top: 5.144%;
            left: 7.0906%;
        }

        .heart {
            top: 4.8%;
            right: 6.9333%;
        }
    }

}

@media (min-width: 1024px) {

    .product {
        display: grid;
        grid-template-columns: 1fr 33%;

        .product-media {
            display: grid;
            gap: 2px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }



    .back-arrow.to-hide {
        display: none;
    }

    .heart {
        display: none;
    }
}