@import '../typography';



@media (max-width: 1023px) {

    .product {
        .back-arrow {
            position: absolute;
            top: 5.144%;
            left: 7.0906%;
        }

        .heart {
            top: 4.8%;
            right: 6.9333%;
        }
    }

    .images-container-desktop {
        display: none;
    }

}

@media (min-width: 1024px) {

    .images-container-desktop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .swiper {
        display: none;

        .swiper-wrapper {
            display: none;
        }

    }


    // .back-arrow.to-hide {
    //     display: none;
    // }

    .heart {
        display: none;
    }
}