@import "../typography";

.product-accordion {

    .accordion-item {
        width: 100%;
        padding: 12px 2.6578%;
        background-color: #F5F5F5;
        border: 1px solid #eaeaea;
    }

    .acc-title {
        font-size: $title-s;
        font-weight: $weight-m;
        display: flex;
        cursor: pointer;
        align-items: center;
    }

    .acc-title::after {
        content: url("/img/plus-sign.svg");
        margin-left: auto;
    }

    .active-header::after {
        content: url("/img/minus-icon.svg");
        margin-left: auto;
    }

    .acc-content {
        max-height: 0;
        overflow: hidden;
        font-size: $title-s;
        font-weight: $weight-s;
        transition: 500ms ease max-height;
    }
}

@media (max-width: 1023px) {}


@media (min-width: 1024px) {}