@import "../typography";

.accordion-title {
    display: flex;
    align-items: center;
    max-width: 903px;
    width: 100%;
    padding: 11px 23px;
    background-color: #F5F5F5;
    border: 1px solid #eaeaea;
    transition: 0.4s;
}

.accordion__product {
    p {
        max-width: 903px;
        padding: 24px;
    }
}

.hidden {
    display: none;
}

.plus-icon {
    &::after {
        content: url("/img/plus-sign.svg");
        margin-left: auto;
    }
}

.minus-icon {
    &::after {
        content: url("/img/minus-icon.svg");
        margin-left: auto;
    }
}

@media (max-width: 1023px) {
    .accordion__product {
        margin: 32px 0;
    }

    .product-media {
        background-color: #F5F5F5;
    }
}


@media (min-width: 1024px) {


    .accordion__product {
        margin: 40px auto 80px 5.0625%;
        width: 66%;

    }
}