@import '../typography';

.basket-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: $text-ml;
    font-weight: $weight-m;
    background-color: $black;
    border: none;
    margin: 25px auto;
    height: 48px;
    width: 87.2340%;
    color: $primary-color;
}

.price-details {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: center;
}

.product-media img {
    overflow: hidden;
    width: 100%;
}


@media (max-width: 1023px) {
    .product {
        .basket-button {
            margin: 47px auto;
            height: 64px;
            width: 87.4666%;
        }

        .prod-name {
            font-size: $title-s;
            margin-left: 0;
            padding: 0 6.4%;
        }

        .description {
            margin-left: 0;
            padding: 0 6.4%;
        }

        .price-details {
            padding: 0 6.4%;

        }

        .price-whole {
            font-size: $text-l;
            font-weight: $weight-l;
        }

        .discount-percent {
            font-size: $text-ml;
            font-weight: $weight-m;
        }

        .discount {
            font-size: $text-ml;
            font-weight: $weight-s;
        }

        .heart-button {
            display: none;
        }
    }
}


@media (min-width: 1024px) {
    .product {
        .prod-name {
            font-size: $title-sm;
            margin: 0 7.8504%;
        }

        .description {
            font-size: $text-ml;
            margin: 0 7.8504% 30px 7.8504%;

        }

        .price-details {
            margin: 0 7.8504% 47px 7.8504%;
            width: auto;
        }

        .price-whole {
            font-size: $text-l;
            font-weight: $weight-l;
        }

        .discount-percent {
            font-size: $text-ml;
            font-weight: $weight-m;
        }

        .discount {
            font-size: $text-ml;
            font-weight: $weight-s;
        }

        .button-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2px;
        }

        .basket-button {
            display: flex;
            height: 64px;
            width: 71.9626%;
            margin: 0;
            padding: 0 16px;

            span {
                margin-right: auto;
            }
        }

        .heart-button {
            background-color: $black;
            color: $primary-color;
            margin: 0;
            border: none;
            width: 11.9626%;
            height: 64px;
        }
    }
}