/*********** GENERAL ************/

* {
    box-sizing: border-box;
}

html {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
}


/*********** BANNER ************/

.banner {
    background-color: #000;
    text-align: center;
    position: relative;
    padding: 10px 0;

}

.banner p {
    margin: 0;
    margin-right: 50px;
    color: #fff;
    font-size: 1.2rem;
}

.banner button {
    background: none;
    padding: 0;
    border: none;
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translate(0, -50%);
}

ul {
    padding-inline-start: 0;
    margin: 0;
}

/*********** NAVIGATION BAR ************/

.nav-bar {
    position: relative;
    padding: 5px;
    width: 100%;
    text-align: center;
}


.nav-link ul {
    display: flex;
    position: absolute;
    top: 30%;
    left: 0%;
}

.nav-link ul li {
    list-style-type: none;
    margin-left: 15px;
}

.nav-link ul img {
    width: 20px;
    height: 20px;
}

.logo p {
    color: #000;
    font-size: 1.9rem;
    display: inline-block;
    border: 1px dotted #000;
    margin: 0;
    padding: 15px;
}

/*********** GALLERY ************/
/*********** CARD1 ************/

.container-main {
    display: grid;
    row-gap: 48px;
    background-color: #F5F5F5;
    grid-template-columns: 1fr;
}
.card-container-1 {
width: 100%;
}

/* media */

.card__media {
    overflow: hidden;
    line-height: 0;
}

.card__media img{
    width: 100%;
}

/* text */

.card__text {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.card__text span {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
}

.card__text h2 {
    font-size: 4rem;
    font-weight: bold;
    margin: 5px 0;
}

.card__text button {
    font-size: 1.4rem;
    text-transform: uppercase;
    background: none;
    border: none;
    font-weight: bold;
}

.card__text button img {
    padding-left: 5px;
}


/*********** CARD 2 ************/

.card-container-2 .card__text {
    text-align: left;
}
.card-container-2 .card__text p {
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: 400;
}

.card-container-2 button {
    background-color: #000;
    padding: 16px;
    color: #fff;
}

.card-container-2 button img {
    color: #fff;
    fill: #fff;
}