/*********** GENERAL ************/

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
}

ul {
    display: inline-block;
    padding-inline-start: 0;
    margin: 0;
    list-style-type: none;
}

/*********** BANNER ************/

.banner {
    background-color: #000;
    text-align: center;
    position: relative;
    padding: 10px 0;
    height: 32px;

}

.banner p {
    margin: 0;
    margin-right: 50px;
    color: #fff;
    font-size: 1.2rem;
}

.banner button {
    background: none;
    padding: 0;
    border: none;
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translate(0, -50%);
}

/*********** NAVIGATION BAR ************/

.nav-bar {
    position: relative;
    padding: 5px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



.nav-link ul {
    display: flex;
    position: absolute;
    top: 30%;
    left: 1%;
}

.nav-link ul li {
    list-style-type: none;
    margin-left: 15px;
}

.nav-link a {
    text-decoration: none;
    color: #000;
}

.nav-link ul img {
    width: 20px;
    height: 20px;
}


.logo {
    padding: 30px;
    border: 1px dotted #000;
}

.logo p {
    color: #000;
    font-size: 1.9rem;
    display: inline-block;
    margin: 0;
}

/*********** GALLERY ************/
.svg-container {
    margin-left: 8px;
}

button:hover {
    cursor: pointer;
}

/*********** CARD1 ************/

.container-main {
    display: grid;
    row-gap: 48px;
    background-color: #F5F5F5;
    grid-template-columns: 1fr;
}

.card-container-1 {
    width: 100%;
}

/* media */

.card__media {
    overflow: hidden;
    line-height: 0;
}

.card__media img {
    width: 100%;
}

/* text */

.card__text {
    background-color: #fff;
    padding: 25px 20px;
    text-align: center;
}

.card__text span {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
}

.card__text h2 {
    font-size: 4rem;
    font-weight: bold;
    margin: 5px 0;
}

.card__text button {
    font-size: 1.4rem;
    text-transform: uppercase;
    background: none;
    border: none;
    font-weight: 700;
}



/*********** CARD 2 ************/

.card-container-2 .card__text {
    text-align: left;
}

.card-container-2 .card__text p {
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: 400;
}

.card-container-2 button {
    background-color: #000;
    padding: 16px 35px;
    color: #fff;
}

.card-container-2 svg {
    vertical-align: sub;
    fill: #fff;
    height: 18px;
    width: 18px;
}



/*********** CARD3 ************/

.card-container-3 .card__text {
    text-align: left;
}

.card-container-3 .card__text p {
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: 400;
}

.card-container-3 button {
    background-color: #000;
    padding: 16px 35px;
    color: #fff;
}


.card-container-3 svg {
    vertical-align: sub;
    fill: #fff;
    height: 18px;
    width: 18px;
}

/*********** FOOTER ************/
/*********** BANNER ************/

.marketing-banner {
    max-height: 160px;
    background-color: #F5F5F5;
    overflow-x: auto;
}

.badges-container {
    display: flex;
    justify-content: space-between;
    overflow: visible;
    gap: 30px;
}

.badges-container li {
    height: auto;
    max-height: 148px;
    width: auto;
    max-width: min-content;
    min-width: 140px;
    padding: 46px 0;
}

.badges-container span {
    display: flex;
    justify-content: center;
}

.badges-container p {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;

}



/*********** FOOTER ************/
/*********** FORM ************/

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 354px;
}

.form-container {
    margin: auto;
    padding: 0px 30px;
}

.form-container h3 {
    font-size: 2.4rem;
    font-weight: 700;
}

.form-container input {
    border: none;
    width: 317px;
    margin-right: 16px;
    margin-bottom: 40px;
    border-bottom: 1px solid #000;
}

.form-container button {
    border: none;
    background-color: #9D9D9D;
    width: 120px;
    height: 48px;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;

}

.form-container p {
    font-size: 1rem;
    font-weight: 400;
    color: #9D9D9D;
}

.form-container button svg {
    vertical-align: sub;
}


/*********** LINKS ************/

.links-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}


.links-container h3 {
    font-size: 1.6rem;
    font-weight: 700;
}

.links-container a {
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    color: #000;
}

.help-you {
    margin: auto;
}

.company {
    margin: auto;
}


/*********** FOLLOW US ************/

.footer-container-2 {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 28px;
}

.social-list {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.follow-us h3 {
    font-size: 1.6rem;
    font-weight: 800;
    text-transform: uppercase;
}


/********************+******* MEDIA QUERY 1 ****************************/

@media (max-width:1023px) {
    .logo {
        padding: 15px;
    }

    .navbar-text {
        display: none;
    }

    .nav-bar {
        height: 65px;
    }

    /*********** CARD 1 ************/
    .add_paragraph {
        display: none;
    }
}


/********************+******* MEDIA QUERY 2 ****************************/

@media (min-width: 1024px) {

    /*********** NAV ************/


    .navbar-icon {
        display: none;
    }

    .nav-bar {
        padding: 5px;
        height: 100px;
        width: 100%;
        text-align: center;
    }

    .nav-link {
        display: inline-block;
    }

    .nav-link ul {
        display: flex;
        position: absolute;
        top: 40%;
        left: 4%;
    }

    .nav-link ul li {
        font-size: 1.8rem;
        font-weight: 700;
    }

    /*********** CARD 1 ************/

    .card-container-1 {
        position: relative;
    }

    .card-container-1 .card__text {
        position: absolute;
        width: 532px;
        height: 311px;
        bottom: 0;
        left: 40px;
        padding: 40px 54px;
        text-align: left;
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }

    @supports (backdrop-filter: blur(7.1px)) {
        .card-container-1 .card__text {
            backdrop-filter: blur(7.1px);
            -webkit-backdrop-filter: blur(7.1px);

        }
    }

    .card-container-1 .card__media {
        max-height: 685px;
    }

    .add_paragraph {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 18.75px;
        letter-spacing: 1%;
    }

    .card-container-1 .card__text h2 {
        margin-bottom: 64px;
        margin-top: 10px;
    }

    .card-container-1 .card__text button {
        padding: 0;
        margin: 30px 0;
    }

    /*********** CARD 2-3 ************/

    .card-container-2 .card__media,
    .card-container-3 .card__media {
        width: 100%;
        height: 100%;

    }

    .card-container-2,
    .card-container-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        justify-content: center;
    }

    .card-container-3 .card__text {
        grid-row: 2 / 1;
    }
}





/* sistema frecce dentro i button, 
inizia il responsive delle carte 
fai footer con form 
vedi come si fa accoreon su css
chiedi del problema scroll nel footer
*/

/* flex-basis per grid */
/* per freccia: vertical align su svg; 
line-height che forse rompe */