.visualization {
    button:hover {
        cursor: pointer;
    }

    .icon-visualization {
        margin-left: 19px;
    }

    .icon-visualization.selected {
        transform: scale(1.08);
    }

    .gallery-visualization.selected {
        transform: scale(1.08);
    }
}


.result-number {
    display: none;
}

.product-number {
    font-size: $text-ml;
    font-weight: $weight-m;
    color: $grey;
    margin-left: auto;
    margin-right: 19px;
}