 main {
     padding-top: 132px;
 }

 .grid-container {
     grid-template-columns: repeat(4, 1fr);
     column-gap: 2px;
 }

 .container-main {

     .grid-container {
         &.gallery-mode {
             grid-template-columns: repeat(6, 1fr);

             //card-text display none
             .product-text {
                 display: none;
             }

             .overlay {
                 display: none;
             }
         }

     }
 }