@media (max-width: 1023px) {

    main {
        padding-top: 97px;
    }

    .title {
        height: 86px;

        h1 {
            padding: 24px 0 24px 24px;
        }
    }

    .visualization {
        display: none;
    }

    .product-number {
        display: none;
    }
}


@media (min-width: 1024px) {
    main {
        padding-top: 132px;
    }

    .title {
        text-align: center;

        h1 {
            padding: 56px 0 58px 0;
        }
    }

    .result-number {
        display: none;
    }
}