@media (max-width: 1023px) {
    // NAV

    .nav-bar {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
    }


    main {
        padding-top: 97px;
    }

    //UPPER

    .title {
        height: 86px;

        h1 {
            padding: 24px 0 24px 24px;
        }
    }

    .visualization {
        display: none;
    }

    .product-number {
        display: none;
    }

    .result-number {
        font-size: $text-m;
    }

    //GALLERY

    .grid-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 1px;
        row-gap: 24px;
    }

    //CARDS

    .prod-name {
        margin-top: 19px;
        margin-left: 8px;
    }

    .description {
        margin-top: 4px;
        margin-left: 8px;
    }

    .add-basket {
        margin: 36px auto 9px auto;
        max-width: 171px;
        background-color: $primary-color;
        padding: 12px 8px;

        .basket-icon {
            background-color: $primary-color;
        }
    }


    .new {

        span {
            background-color: $primary-color;
            padding: 0 5px;
        }
    }

    .amount {

        span {
            background-color: $primary-color;
            padding: 0 5px;
        }
    }
}


@media (min-width: 1024px) {

    main {
        padding-top: 132px;
    }

    //NAV

    .nav-bar {
        box-shadow: 0 30px 30px rgba(0, 0, 0, 0.02);
    }

    //UPPER 
    .visualization {
        button:hover {
            cursor: pointer;
        }

        .icon-visualization {
            margin-left: 19px;
        }
    }

    .title {
        text-align: center;

        h1 {
            padding: 56px 0 58px 0;
        }
    }

    .result-number {
        display: none;
    }

    .product-number {
        font-size: $text-ml;
        font-weight: $weight-m;
        color: $grey;
        margin-left: auto;
        margin-right: 19px;
    }

    //GALLERY
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 2px;
    }

    //CARDS

    .prod-name {
        margin: 35px 0 0 16px;
    }

    .description {
        margin: 4px 0 0 16px;
    }

    .add-basket {
        margin: 34px 0 20px 18px;
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;

        .basket-icon {
            display: none;
        }
    }


    .new {

        span {
            background-color: transparent;
        }
    }

    .amount {

        span {
            background-color: transparent;
        }
    }
}