@import "./resets";
@import "./variables";
@import "./typography";


// TOP-MAIN

.container-main {
    display: block;
}

.title {

    background-color: $primary-color;

    h1 {
        font-size: $title-m;
        font-weight: $weight-s;
        color: $black;
    }
}

.results {
    display: flex;
    height: 70px;
    padding: 27px 0 27px 24px;

    .result-number {
        color: $dark-grey;
        font-weight: $weight-m;
    }
}

.visualization {
    display: flex;
    gap: 12px;
    padding: 27px 0 27px 24px;

    button {
        background: none;
        padding: 0;
        border: none;
    }
}




//MEDIA-QUERIES
@import "./query"